<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542421991265-ikp3jivl2gj0tinefmau69ndnln214n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542421991265-ikp3jivl2gj0tinefmau69ndnln214n0</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvDUPWVVcmOY9hpNmGAioN46G8vt2m6A</string>
	<key>GCM_SENDER_ID</key>
	<string>542421991265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jonathan.financialHome</string>
	<key>PROJECT_ID</key>
	<string>financialhome-af300</string>
	<key>STORAGE_BUCKET</key>
	<string>financialhome-af300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542421991265:ios:bf7e5f4208d8cf56</string>
	<key>DATABASE_URL</key>
	<string>https://financialhome-af300.firebaseio.com</string>
</dict>
</plist>