<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>316576488426-pj18mter2tq9c6jq3g90h7t69l31nknj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316576488426-pj18mter2tq9c6jq3g90h7t69l31nknj</string>
	<key>API_KEY</key>
	<string>AIzaSyDSRVz0LZTKdQp76EnGq-ZgARzPKUfNbPg</string>
	<key>GCM_SENDER_ID</key>
	<string>316576488426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jonathan.financialHome</string>
	<key>PROJECT_ID</key>
	<string>financialhome-a9493</string>
	<key>STORAGE_BUCKET</key>
	<string>financialhome-a9493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316576488426:ios:bf7e5f4208d8cf56</string>
	<key>DATABASE_URL</key>
	<string>https://financialhome-a9493.firebaseio.com</string>
</dict>
</plist>